# Purpose

The dataset has invalid data in the time column

In [1]:
!wget https://raw.githubusercontent.com/LuAnn/TropicalCyclones/master/Data.txt -O Data_original.txt

--2019-04-08 17:54:58--  https://raw.githubusercontent.com/LuAnn/TropicalCyclones/master/Data.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1973972 (1.9M) [text/plain]
Saving to: ‘Data_original.txt’

Data_original.txt   100%[===================>]   1.88M  --.-KB/s    in 0.04s

2019-04-08 17:54:58 (49.4 MB/s) - ‘Data_original.txt’ saved [1973972/1973972]

In [10]:
with open("Data_original.txt") as f_data:
    for line in f_data:
        cur_line = line.split()
        print(cur_line)
        print(cur_line[3])
        break

['1900', '8', '27', '0', '1', 'NOT', 'NAMED', '15.0', '-42.1', '35', '0']
0

Here is one way of implementing the logic:

In [16]:
with open("Data_original.txt") as f_data:
    for line in f_data:
        cur_line = line.split()
        # print(cur_line)
        
        hour_col = cur_line[3]
        if hour_col == '0'  or hour_col == '6' or hour_col == '12' or hour_col == '18':
            print(line)
        
        break

1900  8 27  0  1 NOT NAMED  15.0  -42.1   35    0

and yet another way to implement the logic:

In [23]:
with open("Data_original.txt") as f_data, \
     open("Data_scrubbed.txt", "w") as f_scrubbed:
    for line in f_data:
        cur_line = line.split()        
        hour_col = cur_line[3]
        
        if hour_col in ['0', '6', '12', '18']:
            f_scrubbed.write(line)

We are going to check for the number of columns must equal 10.

In [27]:
with open("Data_original.txt") as f_data, \
     open("Data_scrubbed.txt", "w") as f_scrubbed:
    for line in f_data:
        cur_line = line.split()        
        hour_col = cur_line[3]
        
        if cur_line[5] != 'NOT' and cur_line[6] != 'NAMED':
            if hour_col in ['0', '6', '12', '18'] and len(cur_line) == 10:
                f_scrubbed.write(line)
            else:
                print(line)

1991  8 20  1  3 BOB        44.1  -69.1   60  981

1991  9  7 10  6 CLAUDETTE  27.0  -61.5  115  944

1991  9 12  3  8 ERIKA      37.7  -25.9   35 1009

1991 10 16  8  9 FABIAN     24.5  -80.5   40 1002

1991 10 29 14 11 GRACE      31.5  -61.8   90  982

1992  8 23 21  4 ANDREW     25.4  -76.6  140  923

1992  8 24  1  4 ANDREW     25.4  -77.8  130  931

1992  8 24  8  4 ANDREW     25.5  -80.2  145  926

1992  8 24  9  4 ANDREW     25.5  -80.3  145  922

1992  8 26  8  4 ANDREW     29.6  -91.5  100  956

1992  9 25 22  7 DANIELLE   37.8  -75.5   55 1007

1993  6 20  9  2 ARLENE     27.1  -97.4   35 1001

1993  8  7  7  3 BRET       10.8  -60.8   50 1002

1993  8  7 10  3 BRET       10.8  -61.8   50 1002

1993  8  8  8  3 BRET       11.0  -68.3   40 1007

1993  8 10 17  3 BRET       11.1  -83.8   40 1002

1993  8 16 21  4 CINDY      18.3  -71.0   30 1009

1993  8 31 21  5 EMILY      35.2  -75.1  100  961

1993  9 20 21  8 GERT       21.2  -97.5   85  970

1994  7  3 15  1 ALBERTO    30.4  -86.5   55  993

1994  8 16  3  3 BERYL      30.2  -85.4   50  999

1994  9 10  3  6 DEBBY      14.0  -61.0   55 1007

1994 11 13  3 12 GORDON     17.9  -76.8   35 1000

1994 11 13 13 12 GORDON     20.0  -74.9   40 1000

1994 11 15 13 12 GORDON     24.6  -81.7   45  999

1994 11 16 13 12 GORDON     26.5  -81.9   45  996

1995  6  5 14  1 ALLISON    29.9  -84.4   60  991

1995  6  5 15  1 ALLISON    30.1  -84.2   55  991

1995  7  7 21  2 BARRY      33.6  -69.9   60  998

1995  7  9 21  2 BARRY      45.3  -61.0   50  990

1995  7  9 22  2 BARRY      45.6  -60.8   45  990

1995  7 31  2  4 DEAN       29.2  -95.3   40  999

1995  8  3 13  5 ERIN       30.0  -86.8   85  973

1995  8  3 16  5 ERIN       30.3  -87.2   75  973

1995  8 11 20  8 GABRIELLE  23.7  -97.8   60  988

1995  8 27 23 10 IRIS       17.7  -62.0   55  993

1995  9 14 21 15 MARILYN    15.5  -61.3   70  984

1995  9 17  3 15 MARILYN    20.7  -67.1  100  949

1995 10  4 10 17 OPAL       26.6  -88.8  130  916

1995 10  4 22 17 OPAL       30.3  -87.1  100  942

1995 10 10 21 19 ROXANNE    20.0  -86.7  100  956

1995 10 11  2 19 ROXANNE    20.0  -87.6  100  958

1996  7 12 20  2 BERTHA     34.3  -77.8   90  974

1996  7 28  4  3 CESAR      12.2  -83.9   75  985

1996  8 20 17  4 DOLLY      19.1  -87.7   65  999

1996  9 15  3  8 HORTENSE   44.8  -62.5   70  978

1996 10  8  3 10 JOSEPHINE  30.0  -83.9   60  983

1996 10 11 21 11 KYLE       16.7  -87.4   45 1001

1996 10 18  9 12 LILI       22.3  -82.0   85  975

1997  7 12 15  3 BILL       38.8  -60.0   65  986

1998  9 21  4  7 GEORGES    17.0  -61.7  100  966

1998  9 21  8  7 GEORGES    17.2  -62.6  100  966

1998  9 21 22  7 GEORGES    18.1  -65.8   90  968

1998  9 23 21  7 GEORGES    20.1  -74.5   65  993

1998  9 25 15  7 GEORGES    24.5  -81.8   90  981

1998  9 28 11  7 GEORGES    30.4  -88.9   90  964

1999  9 21  8 10 HARVEY     26.3  -83.7   50  994

1999 10 18  7 13 IRENE      35.4  -74.4   95  958

2000 10  1  7 15 KEITH      17.9  -87.3  120  939

2001  6  5 21  1 ALLISON    28.9  -95.3   45 1003

2001  6 11  2  1 ALLISON    29.6  -91.6   30 1004

2001  8  6  5  3 BARRY      30.4  -86.3   60  990

2001  8 21  2  4 CHANTAL    18.1  -87.8   60  999

2001 10  9  2 11 IRIS       16.3  -88.4  125  948

2001 11  4 23 15 MICHELLE   22.1  -81.2  115  950

2002  8  5  1  2 BERTHA     29.4  -89.2   35 1007

2002  8  5  2  2 BERTHA     29.4  -89.3   35 1008

2002  8  9  8  2 BERTHA     27.3  -97.4   20 1011

2002  9  7  9  6 FAY        28.5  -96.3   50  999

2002  9 12  4  8 GUSTAV     45.3  -60.8   80  960

2002  9 12  4  8 GUSTAV     45.6  -60.4   80  960

2002  9 12  9  8 GUSTAV     47.6  -58.6   65  963

2002  9 14  8  9 HANNA      29.1  -89.1   50 1003

2002  9 14 15  9 HANNA      30.4  -88.4   50 1002

2002  9 20 21 10 ISIDORE    22.0  -84.1   75  964

2002  9 22 21 10 ISIDORE    21.3  -89.3  110  936

2002 10 11 17 12 KYLE       33.0  -79.5   35 1011

2002 10 11 22 12 KYLE       33.9  -78.4   35 1011

2002  9 30 14 13 LILI       19.7  -79.8   65  986

2002 10  1 11 13 LILI       21.3  -83.0   90  971

2002 10  1 14 13 LILI       22.1  -84.0   90  971

2002 10  2 20 13 LILI       25.9  -89.9  125  938

2002 10  3 13 13 LILI       29.5  -92.2   80  963

2003  6 30 19  3 BILL       29.3  -91.0   50  997

2003  7 11 10  4 CLAUDETTE  20.8  -86.9   50 1009

2003  7 15 15  4 CLAUDETTE  28.3  -96.2   80  979

2003  8 16 10  8 ERIKA      25.3  -97.4   65  986

2003  8 31 11 11 GRACE      29.4  -95.1   35 1007

2003  9  6  9 12 HENRI      27.9  -82.8   30 1006

2003  9 18 17 13 ISABEL     34.9  -76.2   90  957

2003  9 29  3 15 JUAN       44.4  -63.8   85  973

2003 10  5 10 17 LARRY      18.4  -93.5   50  996

2003 12  6 23 20 ODETTE     17.8  -71.5   50  995

2004  8 12 14  2 BONNIE     29.6  -85.1   40 1002

2004  8 13  4  3 CHARLEY    22.7  -82.6  105  966

2004  8 13 19  3 CHARLEY    26.6  -82.2  130  941

2004  8 13 20  3 CHARLEY    26.9  -82.1  125  942

2004  8 14 14  3 CHARLEY    33.0  -79.4   70  992

2004  8 14 16  3 CHARLEY    33.8  -78.7   65  997

2004  9  1  7  6 FRANCES    21.1  -68.1  120  935

2004  9  2  7  6 FRANCES    22.8  -72.8  125  936

2004  9  2 19  6 FRANCES    24.0  -74.5  110  948

2004  9  3  5  6 FRANCES    24.6  -75.6  100  954

2004  9  3 10  6 FRANCES    25.1  -76.1   95  956

2004  9  4 10  6 FRANCES    26.6  -78.2   90  961

2004  8 29 14  7 GASTON     33.0  -79.6   65  985

2004  9  7 21  9 IVAN       11.9  -61.8  110  952

2004  9 11  3  9 IVAN       17.4  -77.2  130  924

2004  9 12 14  9 IVAN       18.9  -81.5  130  920

2004  9 13 21  9 IVAN       22.1  -84.8  140  910

2004  9 14  1  9 IVAN       21.7  -85.2  140  916

2004  9 24  2  9 IVAN       29.8  -93.6   30 1004

2004  9 14  4 11 JEANNE     16.2  -61.3   30 1009

2004  9 15 16 11 JEANNE     18.0  -66.0   60  991

2004  9 16 11 11 JEANNE     18.6  -68.3   70  985

2004  9 25 14 11 JEANNE     26.7  -77.3  100  956

2004  9 26  4 11 JEANNE     27.2  -80.2  105  950

2004 10 10 11 14 MATTHEW    29.2  -91.0   35  999

2005  6 10  8  1 ARLENE     21.8  -84.5   45 1000

2005  6 11  1  1 ARLENE     26.5  -85.6   60  989

2005  6 11 19  1 ARLENE     30.3  -87.5   50  991

2005  6 28 22  2 BRET       19.9  -95.7   35 1002

2005  7  4  3  3 CINDY      19.0  -87.6   30 1007

2005  7  6  3  3 CINDY      29.2  -90.1   65  991

2005  7  4 21  4 DENNIS     12.1  -61.6   30 1010

2005  7  8  2  4 DENNIS     19.9  -77.6  120  956

2005  7 10 19  4 DENNIS     30.4  -87.1  105  946

2005  7 14  7  5 EMILY      12.0  -61.8   75  989

2005  8 23  3 11 JOSE       19.7  -96.4   50  998

2005  8 25 22 12 KATRINA    26.0  -80.1   70  984

2005  8 29 11 12 KATRINA    29.3  -89.6  110  920

2005  8 29 14 12 KATRINA    30.2  -89.6  105  928

2005  9  6 16 16 OPHELIA    26.6  -78.3   25 1010

2005  9 22  3 18 RITA       24.7  -87.3  155  895

2005  9 24  7 18 RITA       29.7  -93.7  100  937

2005 10  2 10 20 STAN       19.6  -87.5   35 1003

2005 10  5 23 22 TAMMY      30.4  -81.4   45 1002

2005 10 11  9 24 VINCE      37.2   -7.1   30 1002

2005 10 21 21 25 WILMA      20.6  -86.8  130  927

2005 10 22  3 25 WILMA      20.8  -86.9  115  933

2005 10 24 10 25 WILMA      25.9  -81.7  105  950

2005 10 23 10 26 ALPHA      18.3  -71.3   45 1000

2006  6 13 16  1 ALBERTO    29.9  -83.7   40  998

2006  8 28 11  6 ERNESTO    19.9  -75.5   35 1005

2006  8 30  3  6 ERNESTO    24.9  -80.6   40 1003

2006  8 30  5  6 ERNESTO    25.2  -80.7   40 1003

2006  9  1  3  6 ERNESTO    33.9  -78.1   60  985

2007  6  2 14  2 BARRY      27.5  -82.7   30 1000

2007  8 21  8  4 DEAN       18.7  -87.7  150  905

2007  8 22 16  4 DEAN       20.5  -97.0   85  974

2007  8 16 10  5 ERIN       28.0  -96.9   30 1006

2007  9  1  8  6 FELIX      12.1  -61.7   45 1001

2007  9  3  7  6 FELIX      14.0  -75.3  150  929

2007  9  9 15  7 GABRIELLE  34.8  -76.4   50 1005

2007  9 13  7  9 HUMBERTO   29.6  -94.3   80  985

2007  9 28  5 13 LORENZO    20.5  -97.0   65  993

2007 10 29  7 16 NOEL       18.1  -72.5   45 1002

2007 11  1 13 16 NOEL       24.1  -77.9   50  993

2007 11  1 17 16 NOEL       25.0  -77.4   55  992

2007 12 11  7 17 OLGA       18.4  -66.5   40 1005

2008  5 31  9  1 ARTHUR     17.9  -88.2   40 1004

2008  7  7 21  2 BERTHA     20.3  -51.9  110  952

2008  7 23 14  4 DOLLY      26.0  -96.8   85  963

2008  8 29  2  7 GUSTAV     17.9  -77.2   60  987

2008  8 30 22  7 GUSTAV     22.4  -83.1  135  941

2008  9  1 15  7 GUSTAV     29.2  -90.7   90  954

2008  9  3 19  8 HANNA      21.7  -71.8   50  994

2008  9  6  7  8 HANNA      33.8  -78.7   60  981

2008  9  7 13  9 IKE        21.0  -73.2  110  947

2008  9  8  2  9 IKE        21.1  -75.7  115  945

2008  9  9 14  9 IKE        22.6  -82.9   70  965

2008  9 13  7  9 IKE        29.3  -94.7   95  950

2008 11  9  1 17 PALOMA     20.7  -78.0   85  970

2009  8 24  2  3 BILL       46.8  -56.4   60  974

2009  8 24  3  3 BILL       46.9  -56.0   60  976

2009  8 26  9  5 DANNY      24.3  -69.6   40 1009

2009 11  9 21 11 IDA        28.5  -88.7   75  990

2009 11 10  9 11 IDA        30.1  -88.3   45  998

2010  6 30 15  1 ALEX       24.0  -95.5   75  958

2010  7  1  2  1 ALEX       24.2  -97.7   95  946

2010  7  8 14  2 TWO        26.1  -97.1   30 1006

2010  7 22 23  3 BONNIE     23.0  -75.7   35 1006

2010  7 23  5  3 BONNIE     23.7  -77.5   40 1005

2010  7 23 14  3 BONNIE     25.4  -80.2   35 1007

2010  8  5 21  4 COLIN      25.0  -66.1   50 1005

2010  9  4 15  7 EARL       44.3  -64.5   65  962

2010  9  4 19  7 EARL       46.0  -62.7   60  967

2010  9  7  2 10 HERMINE    25.3  -97.4   60  989

2010  9 21 15 11 IGOR       46.6  -53.2   75  950

2010  9 17 15 13 KARL       19.4  -96.0  110  970

2010  9 17 16 13 KARL       19.3  -96.2  100  976

2010  9 24 21 14 LISA       20.0  -27.7   65  988

2010  9 24 19 15 MATTHEW    14.7  -83.3   50  998

2010  9 25 15 15 MATTHEW    16.5  -88.4   35 1000

2010  9 29 15 16 NICOLE     22.2  -80.5   40  995

2010 10 14 15 18 PAULA      22.7  -83.9   55 1000

2010 10 30  9 21 TOMAS      13.0  -59.5   60  997

2010 10 30 20 21 TOMAS      13.4  -61.2   85  987

2010 11  6  7 21 TOMAS      21.7  -71.6   60  992

2011  6 30 13  1 ARLENE     21.6  -97.4   55  993

2011  7 30  2  4 DON        27.3  -97.4   30 1007

2011  8 22  2  8 HARVEY     18.7  -95.2   35 1005

2011  8 28  9  9 IRENE      39.4  -74.4   60  959

2011  8 28 13  9 IRENE      40.6  -74.0   55  965

2011  9  4  9 13 LEE        29.5  -92.2   40  986

2011  9  4 10 13 LEE        29.6  -92.1   40  986

2011  9 11 16 15 NATE       20.5  -97.0   40 1006

2011 10  3 10 16 OPHELIA    46.9  -55.4   60  990

2011 10 28  2 18 RINA       20.5  -87.2   50  996

2012  5 27 23  2 BERYL      30.1  -80.5   60  992

2012  5 28  4  2 BERYL      30.2  -81.4   55  994

2012  6 26 21  4 DEBBY      29.3  -83.2   35  995

2012  8  8  1  5 ERNESTO    18.7  -87.2   80  977

2012  8  8  3  5 ERNESTO    18.8  -87.7   85  973

2012  8  9 16  5 ERNESTO    18.3  -94.6   55  989

2012  8 20  5  8 GORDON     37.0  -25.1   65  984

2012  8 25 15  9 ISAAC      20.1  -74.5   50  997

2012  8 29  3  9 ISAAC      29.0  -89.7   70  965

2012  8 29  8  9 ISAAC      29.2  -90.2   70  966

2012  9 11  9 12 LESLIE     45.8  -56.1   65  968

2012 10 24 19 18 SANDY      17.9  -76.6   75  971

2012 10 25  5 18 SANDY      20.0  -76.0  100  954

2012 10 25  9 18 SANDY      20.9  -75.7   95  960

2012 10 29 21 18 SANDY      38.8  -74.0   75  943

2012 10 29 23 18 SANDY      39.4  -74.4   70  945

2013	9	16	11.15	10	INGRID	23.7	-97.7	55	991

2014	7	4	3.15	1	ARTHUR	34.7	-76.6	85	973

2014	7	4	8	1	ARTHUR	35.8	-75.5	85	973

2014	8	3	14	3	BERTHA	21.8	-71.9	40	1013

2014	9	3	1	5	DOLLY	22	-97.4	40	1000

2014	9	3	4	5	DOLLY	22	-97.7	40	1002

2014	10	12	8.1	7	FAY	32.3	-64.7	70	984

2014	10	13	14.3	8	GONZALO	17.1	-61.8	65	990

2014	10	13	22.45	8	GONZALO	18.1	-63	75	984

2014	10	13	23.15	8	GONZALO	18.2	-63.1	75	984

2014	10	18	0.3	8	GONZALO	32.3	-64.8	95	952

2014	10	27	16	9	HANNA	14.9	-83.3	35	1005

2015	5	10	10	1	ANA	33.8	-78.8	40	1002

2015	6	16	16.45	2	BILL	28.2	-96.7	50	997

2015	10	2	16	11	JOAQUIN	23.6	-74.8	110	940

2015	10	2	21	11	JOAQUIN	24.1	-74.5	110	942

2016	1	15	13.15	1	ALEX	38.7	-27.1	55	986

2016	5	29	12.3	2	BONNIE	32.8	-79.8	30	1007

2016	6	7	2	3	COLIN	29.8	-83.6	45	1001

2016	6	20	22	4	DANIELLE	21.2	-97.4	35	1009

2016	8	2	6		EARL	16.3	-77.5	40	1004

2016	8	4	4	5	EARL	17.4	-87.8	75	979

2016	8	6	2.3	5	EARL	19	-96	50	999

2016	9	2	5.3	9	HERMINE	30.1	-84.1	70	981

2016	9	2	8	9	HERMINE	30.6	-83.8	60	984

2016	10	4	11	14	MATTHEW	18.3	-74.3	130	935

2016	10	8	9	14	MATTHEW	32.1	-80.5	85	957

2016	10	8	15	14	MATTHEW	33	-79.5	75	967

2016	10	13	15	15	NICOLE	32.3	-64.7	105	959

2016	11	24	17.3	16	OTTO	11	-83.8	100	975

2016	11	25	3.3	16	OTTO	10.7	-85.6	60	993

2017	6	20	2	2	BRET	10.1	-61.1	45	1008

2017	6	20	9	2	BRET	10.6	-62.6	45	1008

2017	6	22	7	3	CINDY	29.8	-93.7	45	991

2017	7	31	14.45	6	EMILY	27.5	-82.7	50	1001

2017	8	8	3.45	7	FRANKLIN	19.1	-87.6	50	995

2017	8	10	5	7	FRANKLIN	20	-96.6	70	990

2017	8	18	10	9	HARVEY	13.1	-59.6	40	1004

2017	8	18	15	9	HARVEY	13.2	-61.2	40	1004

2017	8	26	3	9	HARVEY	28	-96.9	115	937

2017	8	30	8	9	HARVEY	29.8	-93.5	40	991

2017	9	6	5.45	11	IRMA	17.7	-61.8	155	914

2017	9	6	11.15	11	IRMA	18.1	-63.1	155	914

2017	9	6	16.3	11	IRMA	18.5	-64.4	155	915

2017	9	8	5	11	IRMA	21.5	-73	135	924

2017	9	9	3	11	IRMA	22.3	-77.9	145	924

2017	9	10	13	11	IRMA	24.7	-81.5	115	931

2017	9	10	19.3	11	IRMA	25.9	-81.7	100	936

2017	9	9	3	13	KATIA	20.6	-97.1	65	990

2017	9	19	1.15	15	MARIA	15.4	-61.3	145	922

2017	9	20	3	15	MARIA	17.3	-64.7	150	908

2017	9	20	10.15	15	MARIA	18	-65.9	135	920

2017	10	8	5.2	16	NATE	30.4	-89	65	984

2017	10	16	11	17	OPHELIA	51.9	-10.4	70	957

2017	10	28	22	18	PHILIPPE	22.2	-81.6	35	1000